body {
  padding: 0.5rem;
  color: rgb(0, 0, 0, );
  background-color: rgb(255, 227, 227)
}

h1 {
  color: rgb(0, 0, 0, );
  margin-bottom: 1rem;
  text-align: center;
  font-size: 50px;
  margin-top: 3rem;
}

.intro {
  color: rgb(0, 0, 0, );
  margin-bottom: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.5;
}

.firstAidKit {
  width: 80px;
  height: 80px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.image {
  width: 80px;
  height: 80px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

h2 {
  color: rgb(0, 0, 0, );
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

h3 {
  padding: 0;
  padding-top: 1rem;
  margin: auto;
}

.wrapper {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
}

section>div {
  flex: 1;
  padding: 0.5rem;
}

input[type="radio"] {
  display: none;

  &:not(:disabled)~label {
    cursor: pointer;
  }

  &:disabled~label {
    color: rgb(6, 214, 160);
    border-color: rgb(0, 0, 0, );
    box-shadow: none;
    cursor: not-allowed;
  }
}

label {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid rgb(6, 214, 160);
  border-radius: 20px;
  height: 8em;
  text-align: center;
  box-shadow: 0px 2px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
  font-size: 120%;

}

input[type="radio"]:checked+label {
  background: rgb(6, 214, 160);
  color: rgb(0, 0, 0, );
  box-shadow: 0px 0px 10px rgb(6, 214, 160);
}

label:hover {
  box-shadow: 0 8px 16px 0 rgb(6, 214, 160);
}

p {

  font-weight: 500;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.done {
  width: 190px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
  display: block;
  background: white;
  border: 2px solid rgb(6, 214, 160);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 2px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
  font-size: 150%;
  font-weight: 800;
}

.reset {
  width: 190px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
  display: block;
  background: white;
  border: 2px solid rgb(6, 214, 160);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 2px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
  font-size: 150%;
  font-weight: 800;
}

.reset:hover {
  box-shadow: 0 8px 16px 0 rgb(6, 214, 160);
}

button:focus {
  background: rgb(6, 214, 160);
}

.navigationWrapper {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.navigation {
  display: block;
  justify-content: center;
  background: rgb(6, 214, 160);
  width: 190px;
  height: 100px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 3rem;
  margin-top: 4rem;
  background: white;
  border: 2px solid rgb(6, 214, 160);
  border-radius: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0px 2px 10px -2px hsla(150, 5%, 65%, 0.5);
  font-size: 150%;
  font-weight: 800;
}

.answerWrapper {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 3rem;
  margin-top: 4rem;
  grid-gap: 30px;
  align-content: space-around;
  justify-content: space-between;
}

.answerCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgb(255, 227, 227);
  transition: 0.3s;
  /* this adds the "card" effect */
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
}

/* On mouse-over, add a deeper shadow */
.answerCard:hover {
  box-shadow: 0 8px 16px 0 rgb(6, 214, 160);
  box-shadow: 0 4px 8px 0 rgb(6, 214, 160);
  /* this adds the "card" effect */
}

.iconCreators {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 1rem;
}

footer {
  padding-top: 10%;
  font-weight: 600;
  margin-right: 1rem;
  text-align: right;
  position: relative;
  display: block;
}

body {
  margin: auto;
}

/* 
@media only screen and (max-width: 1380px) {
  section {
    flex-direction: column;
    align-content: center;
  }
} */


@media only screen and (max-width: 1120px) {
  .answer {
    display: block;
    background: white;
    border: 2px solid rgb(6, 214, 160);
    border-radius: 20px;
    height: 8em;
    text-align: center;
    box-shadow: 0px 2px 10px -2px hsl(150deg 5% 65% / 50%);
    position: relative;
    font-size: 120%;
  }
}

@media only screen and (max-width: 1120px) {
  section {
    flex-direction: column;
    align-content: center;
  }
}

@media only screen and (max-width: 900px) {
  section {
    flex-direction: column;
    align-content: center;
  }
}

@media only screen and (max-width: 470px) {
  section {
    flex-direction: column;
    align-content: center;
  }
}

@media only screen and (max-width: 470px) {
  .container {
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}

@media only screen and (max-width: 1300px) {
  .answers {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  .question {
    height: 100px;
    padding-bottom: 4rem;
    font-size: 23px;
  }
}

@media only screen and (max-width: 900px) {
  .intro {
    max-height: 210px;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    padding-top: 3rem;
    max-height: 250px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 900px) {
  footer {
    padding-top: 5rem;
    margin: auto;
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .answers {
    display: block;
  }
}

@media only screen and (max-width: 470px) {
  .answer {
    max-height: 220px;
    min-width: 220px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    font-size: 20px;
  }
}

@media only screen and (max-width: 470px) {
  .answerBox {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    width: 160px;
    margin: auto;
  }
}

@media only screen and (max-width: 470px) {
  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 470px) {
  h3 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 470px) {
  .answerWrapper {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 470px) {
  .answers {
    display: block;
  }
}